<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row center">
      <div class="col s12 m2">
        <div class="icon-block">
          <a href="/employees/sign_in", class="waves-effect waves-light btn">Requisitante</a>
          <p class="light">Enviar despesas.</p>
        </div>
      </div>

      <div class="col s12 m2">
        <div class="icon-block">
          <a href="/managers/sign_in", class="waves-effect waves-light btn">Administrador</a>
          <p class="light">Administrar despesas.</p>
        </div>
      </div>
    </div>